<%- include("header") -%>

<h2>This is an about page</h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Non autem velit, laborum quos deserunt temporibus eveniet dolor, modi possimus architecto eaque placeat aspernatur quisquam. Reiciendis assumenda aut, nesciunt maiores doloremque totam praesentium quibusdam, veritatis minus quis laudantium numquam modi harum commodi veniam, sapiente iusto quasi doloribus? Quaerat ullam reprehenderit maiores. </p>

<%- include("footer") -%>